$util.qr($context.args.input.put("createdAt",
$util.defaultIfNull($ctx.args.input.createdAt,$util.time.nowISO8601())))

{
  "version" : "2018-05-29",
  "operation" : "PutItem",
  "key" : {
    "PK": $util.dynamodb.toDynamoDBJson($util.defaultIfNullOrBlank($ctx.args.input.userId))
    "SK": "Profile"
  },
  "attributeValues" : $util.dynamodb.toMapValuesJson($context.args.input),
  "condition" : {
    "expression" : "attribute_not_exists(#userid)",
    "expressionNames": {
      "#userId": "userId",
    }
  },
  "_version" : 1
}