$util.toJson($context.result){
"version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
         "expression": "pk = "bible-NKRV" and (begins_with(sk,:"${chapter}-${phrase}-${verse}")"
        "expressionValues" : {
            "chapter" : $util.dynamodb.toDynamoDBJson($ctx.args.chapter)
            "phrase" : $util.dynamodb.toDynamoDBJson($ctx.args.phrase)
            "verse" : $util.dynamodb.toDynamoDBJson($ctx.args.verse)
        }
    }
}